*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: hsl(208, 8%, 99%);
  color: hsla(208, 8%, 16%, 0.96);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
