html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
    sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  background-color: hsl(208, 8%, 99%);
  color: hsla(0, 0%, 0%, 0.8);
}
